#managerSearchBar {
    width: 100%;
    height: 4rem;
}

#search-text {
    display: inline;
    width: 25%;
    height: 2rem;
    float: right;
}

#search-submit {
    display: inline;
    margin: 0;
    width: 2rem;
    height: 2rem;
    padding: 0.1rem;
    float: right;
}

#search-submit > img {
    width: 0.8rem;
    height: 0.8rem;
    margin: 0;
}