<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>구석기장터</title>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <script src="/js/headerToggle.js"></script>
    <link rel="stylesheet" href="/css/commonSetting.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/categoryNav.css">
    <link rel="stylesheet" href="/css/noResult.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
</head>
<body>
<div th:replace="fragment/header :: header"></div>
<div class="container-fluid">
    <h5 class="purpose text-info">나의 물품</h5>
    <hr/>
    <div class="category-nav">
        <div class="link-wrapper">
            <h5><a class="text-success" href="/post/myPost">전체</a></h5>
        </div>
        <div class="link-wrapper" th:each="postStatus : ${T(com.yang.guseokgi.domain.category.PostStatus).values()}">
            <h5><a class="text-success" th:href="@{/post/myPost/{postStatus} (postStatus=${postStatus})}"
               th:value="${postStatus.name()}" th:text="${postStatus.name}">
            </a></h5>
        </div>
    </div>
    <hr/>
    <div th:replace="fragment/postListContent"></div>
</div>
<div th:replace="fragment/footer :: footer"></div>
</body>
<script th:if="${session.accountSession} != null" th:inline="javascript">
    $(document).ready(function () {

        deleteNotification = function (id) {
            var json = {
                "id": id
            }

            $.ajax({
                url: "/notification/deleteNotification",
                type: "post",
                data: JSON.stringify(json),
                contentType: "application/json",
                success: function (data) {
                    const div = document.getElementById('notification-' + id);
                    div.remove();
                },
                error: function () {
                    alert("요청을 실행하지 못했습니다");
                }
            })
        };

    })
</script>
</html>