<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>구석기장터</title>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="/js/headerToggle.js"></script>
    <link rel="stylesheet" href="/css/commonSetting.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/tradeHistory.css">
    <link rel="stylesheet" href="/css/noResult.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/statusColor.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
</head>
<body>
<div th:replace="fragment/header :: header"></div>
<div class="container-fluid">
    <h5 class="purpose">지난 거래</h5>
    <hr/>
    <div class="category-nav">
        <div class="link-wrapper">
            <h5><a class="text-success" href="/trade/history">전체</a></h5>
        </div>
        <div class="link-wrapper">
            <h5><a class="text-success" href="/trade/history/SUCCEED">거래완료</a></h5>
        </div>
        <div class="link-wrapper">
            <h5><a class="text-success" href="/trade/history/CANCEL" >거래취소</a></h5>
        </div>
    </div>
    <hr/>
    <div th:each="list: ${list}">
        <div>
            <span class="purpose trade-status" th:text="${list.tradeStatus.name}"></span>
        </div>
        <div>
            <a class="post-title left1rem" th:href="@{/post/view/{postId} (postId=${list.otherPostId})}"
               role="button" th:if="${list.otherPostDeleted == false}"
               th:text="${list.otherPostTitle}">물품1</a>
            <a class="post-title left1rem" th:if="${list.otherPostDeleted == true}" href="">(삭제된 게시글)</a>
            <br/>
        </div>
        <div>
            <a class="post-title left1rem" th:href="@{/post/view/{postId} (postId=${list.myPostId})}"
               role="button" th:if="${list.myPostDeleted == false}"
               th:text="${list.myPostTitle}">물품2</a>
            <span class="post-title left1rem" th:if="${list.myPostDeleted == true}" href="">(삭제된 게시글)</span>
            <br/>
        </div>
        <div>
            <span class="post-title left1rem"
                  th:text="'거래시작 ' + ${#temporals.format(list.startTime, 'yyyy/mm/dd HH:mm')}"></span><br/>
            <span class="post-title left1rem"
                  th:text="'거래종료 ' + ${#temporals.format(list.endTime, 'yyyy/mm/dd HH:mm')}"></span>
            <a class="form-submit" th:href="@{/chat/history/{tradeId} (tradeId = ${list.id})}">채팅 기록</a><br/>
        </div>
        <hr/>
    </div>
    <div class="no-result" th:if="${list.numberOfElements == 0}">
        <h4 class="text-muted all-center">거래 내역이 없습니다.</h4>
    </div>
    <div th:replace="fragment/footer :: footer"></div>
</div>
</body>
<script th:if="${session.accountSession} != null" th:inline="javascript">
    $(document).ready(function () {

        deleteNotification = function (id) {
            var json = {
                "id": id
            }

            $.ajax({
                url: "/notification/deleteNotification",
                type: "post",
                data: JSON.stringify(json),
                contentType: "application/json",
                success: function (data) {
                    const div = document.getElementById('notification-' + id);
                    div.remove();
                },
                error: function () {
                    alert("요청을 실행하지 못했습니다");
                }
            })
        };

    })
</script>
</html>